html {
  font-family: 'Bitter', serif;
}

body {
  background-color: floralwhite;
  margin: none;
}

header {
  background-color: lightblue;
  margin: none;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 1em;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin: none;
}

.hidden {
  display: none;
}
